html {
    font-size: 100%;
   background-color: hsl(212, 45%, 89%);
}
body {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
padding: 1.5rem;
flex-direction: column;
min-height: 100vh;
 
}
h1{
    color: hsl(218, 44%, 22%);
   font-weight:700;
   font-size: 20px;
   word-spacing: 1.5px;
   width: 255px;
   padding: 10px;
   margin: 0;
}
img{
    border-radius: 16px;
    height: auto;
    width: 100%;
}
.content{
    border:1px solid white;
    padding: 15px;
    border-radius: 13px;
    max-width: 280px;
    font-family: outfit;
    font-weight: 400;
    background-color: hsl(0, 0%, 100%);
}
p{
    margin: 0;
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    width: 250px;
    word-spacing: 1.5px;
    padding: 10px;
}
.attribution { font-size: 0.6875rem; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width:1440px){
    .content{

    }
}
@media screen and (min-width:375px){
    .h1{
        d
      
      }

}